@model IEnumerable<AppVendas.Models.ItemDaVenda>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Venda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdadeVendida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotalDoItem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Venda.VendaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.ProdutoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdadeVendida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotalDoItem)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemDaVendaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemDaVendaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemDaVendaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
